# Ambientes Virtuais
venv/
env/
.venv/

# Credenciais e Segredos
.env

# Arquivos de estado local
notas_anteriores.json

# Debug e Temporários
__pycache__/
*.png
debug_erro.png
erro_login_detalhado.png

# Outros
.DS_Store